body{
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}
.container{
	max-width : 1200px;
	height: 100%;
	margin: auto;
}
.separateur{
	border: 0px;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.flex_row_between_center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex_row_around_center{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
a{
	color: black;
	text-decoration: none;
}
ul{
	list-style: none;
}

/* HEADER */

header{
	padding: 10px 0;
}
header > h1{
	align-self: flex-end;
	font-size: 2.5em;
	font-weight: bold;
	margin: 5px;
}

/* SLIDER */

#slider{
	width: 100%;
	height: 500px;

	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;

	position: relative;
}
.slide:nth-child(1){
	background-image: url(../images/slide1.jpg);
}
.slide:nth-child(2){
	background-image: url(../images/slide2.jpg);
}
.slide:nth-child(3){
	background-image: url(../images/slide3.jpg);
}
.slide{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	margin: 0px;
	min-width: 100%;
	height: 100%;

	position: relative;

	transition: left 0.3s ease-out;
}
.infos{
	margin-top: 40px;
	padding: 20px;
	width: 30%;
	height: 75%;

	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	border: 0.5px solid white;
	border-radius: 20px;
}
.infos h2{
	font-size: 1.8em;
	margin-top: 0;
	text-align: center;
}
.infos li{
	margin-bottom: 15px;
	font-size: 1.3em;
}
#boutons{
	position: absolute;
	bottom: 0;
	left: -300%;	
}
i{
	font-size: 1.7em;
	padding: 8px 14px;
	margin: 0 10px 20px 10px;

	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	border: 0.5px solid white;
	border-radius: 30px;

	cursor: pointer;
}
i:nth-child(2){
	padding: 10px;
	font-size: 1.4em;
}

/* MAP */

/*section map + info station*/
#blocInfoStation{
	margin-bottom: 30px;
}
#blocInfoStation > h2{
	font-size: 2em;
	text-align: center;
}
#blocInfoStation > p{
	font-size: 1.5em;
	text-align: center;
}

/*map*/
#blocMap{
	width: 100%;
	position: relative;
}
#map{
	width: 65%;
	height: 600px;
	border: 1px solid skyblue;
	border-radius: 20px;
}

/*info station*/
#infoMap{
	width: 30%;
	height: 600px;

	border: 2px solid skyblue;
	border-radius: 20px;
}
#infoMap > h3{
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}
#infoMap > p{
	margin-left: 10px;
	padding: 5px;
	font-size: 1.2em;
}
#infoMap > p:first-of-type{
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	background-color: skyblue; 
	margin-left: 0px;
}
#infoMap > p:nth-of-type(2){ /*open or closed*/
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: underline;
	margin-left: 40px;
	margin-right: 40px;
}
#infoMap > form{ /*nom prenom*/
	max-width: 70%;
	margin-left: 10px;
	display: none;
}
#infoMap > form > p{
	display: flex;
	justify-content: space-between;
	transition: 0.2 linear;
}
#infoMap > button{ /*bouton reservation*/
	text-align: center;
	font-size: 1.1em;

	background-color: skyblue;
	border: 1px solid black;
	border-radius: 20px;

	width: 30%;

	margin: auto;
	margin-top: 30px;

	cursor: pointer;
	display: none;
}
.open{
	color: #4AEC59;
	border: 1px solid #4AEC59;
}
.closed{
	color: #F2373C;
	border: 1px solid #F2373C;
}

/*zone signature*/
#blocSignature{
	position: absolute;

	width: 700px;
	height: 400px;

	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	opacity: 0;
	transition: opacity 0.3s linear;

	display: none;
	flex-direction: column;
	justify-content: center;
	z-index: 5000;
}
#blocSignature > div:first-child{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#blocSignature > div > div{
	width: 20%;
	height: 100%;

	font-size: 1.5em;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#blocSignature i{
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transform: scale(1.5);
	margin-top: 20px;
	cursor:default;
}
#blocSignature  canvas{
	border: 1px solid grey;
	border-radius: 10px;
	background-color: white;

	cursor: crosshair;
}
#blocSignature > div:last-child{
	display: flex;
}
.boutonSignature{
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;

	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid white;
	border-radius: 20px;

	width: 20%;

	margin: auto;
	margin-top: 10px;

	cursor: pointer;
}

/*footer - infos reservations*/

footer{
	width: 70%;
	margin: 20px auto;
	text-align: center;
	font-size: 1.2em;

	border-top:1px double red;
	border-bottom:1px double red;
	border-radius: 20px;
	display: none;
}

/*====================================================================================================================================
															medium desktops laptops
====================================================================================================================================*/

@media all and (min-width:992px) and (max-width:1200px){
	.container{
		max-width : 992px;
	}
	i{
		transform: scale(0.9);
	}
/*slider*/
	.infos h2{
		font-size: 1.65em;
	}
	.infos li{
		font-size: 1.15em;
	}
/*sous titre section map*/
	#blocInfoStation > p{
		font-size: 1.2em;
	}
/*zone info station*/
	#infoMap > h3{
		font-size: 1.9em;
	}
	#infoMap > p{
		font-size: 1.15em;
	}
	#infoMap > p:first-of-type{/*adresse*/
		font-size: 1.2em;
	}
	#infoMap > p:nth-of-type(2){ /*open or closed*/
		font-size: 1.25em;
	}
	#infoMap > form{ /*nom prenom*/
		max-width: 80%;
	}
	#infoMap > button{ /*bouton reservation*/
		font-size: 0.9em;
	}

/*zone signature*/
	#blocSignature{
		width: 700px;
		height: 400px;
	}
	#blocSignature > div > div{
		width: 20%;
		height: 100%;

		font-size: 1.5em;
	}
	#blocSignature i{
		transform: scale(1.5);
	}
	#blocSignature > div:last-child{
		display: flex;
	}
	.boutonSignature{
		font-size: 1.2em;
		width: 20%;
	}
}

/*====================================================================================================================================
															medium device
====================================================================================================================================*/

@media all and (min-width:768px) and (max-width:992px){
	.container{
		max-width : 768px;
	}
	i{
		transform: scale(0.8);
	}
/*header*/
	header > h1{
		font-size: 2.3em;
	}
	header img{
		transform: scale(0.8);
	}
/*slider*/
	.infos h2{
		font-size: 1.55em;
	}
	.infos li{
		font-size: 1.05em;
	}
/*sous titre section map*/
	#blocInfoStation > p{
		font-size: 1.2em;
	}
/*bloc map*/
	#map{
	width: 55%;
	height: 600px;
}
/*zone info station*/
	#infoMap{
		width: 40%;
		height: 600px;
	}
	#infoMap > h3{
		font-size: 1.9em;
	}
	#infoMap > p{
		font-size: 1.15em;
	}
	#infoMap > p:first-of-type{/*adresse*/
		font-size: 1.2em;
	}
	#infoMap > p:nth-of-type(2){ /*open or closed*/
		font-size: 1.25em;
	}
	#infoMap > form{ /*nom prenom*/
		max-width: 80%;
	}
	#infoMap > button{ /*bouton reservation*/
		font-size: 0.95em;
	}

/*zone signature*/
	#blocSignature{
		width: 650px;
		height: 350px;
	}
	#blocSignature > div > div{
		width: 20%;
		height: 100%;

		font-size: 1.5em;
	}
	#blocSignature i{
		transform: scale(1.4);
	}
	#blocSignature > div:last-child{
		display: flex;
	}
	.boutonSignature{
		font-size: 1.1em;
		width: 20%;
	}
}

/*====================================================================================================================================
															small device
====================================================================================================================================*/

@media all and (min-width:600px) and (max-width:768px){
	.container{
		max-width : 600px;
	}
	i{
		transform: scale(0.7);
	}
/*header*/
	header > h1{
		font-size: 1.8em;
	}
	header img{
		transform: scale(0.7);
	}
/*slider*/
	.infos h2{
		font-size: 1.35em;
	}
	.infos li{
		font-size: 0.9em;
	}
	ul{
		padding-inline-start: 20px;
	}
/*sous titre section map*/
	#blocInfoStation > h2{
		font-size: 1.8em;
	}
	#blocInfoStation > p{
		font-size: 1.1em;
	}
/*bloc map*/
	#map{
	width: 55%;
	height: 500px;
}
/*zone info station*/
	#infoMap{
		width: 40%;
		height: 500px;
	}
	#infoMap > h3{
		font-size: 1.6em;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#infoMap > p{
		font-size: 0.9em;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	#infoMap > p:first-of-type{/*adresse*/
		font-size: 1em;
	}
	#infoMap > p:nth-of-type(2){ /*open or closed*/
		font-size: 1em;
	}
	#infoMap > form{ /*nom prenom*/
		max-width: 90%;
	}
	#infoMap > form label{ /*nom prenom*/
		font-size: 0.85em;
	}
	#infoMap > button{ /*bouton reservation*/
		font-size: 0.7em;
	}

/*zone signature*/
	#blocSignature{
		width: 550px;
		height: 350px;
	}
	#blocSignature > div > div{
		width: 20%;
		height: 100%;

		font-size: 1.5em;
	}
	#blocSignature i{
		transform: scale(1.5);
	}
	#blocSignature > div:last-child{
		display: flex;
	}
	.boutonSignature{
		font-size: 1.2em;
		width: 20%;
	}
}

/*====================================================================================================================================
															smartphone
====================================================================================================================================*/

@media all and (max-width:600px){
	.container{
		max-width : 500px;
	}
	i{
		transform: scale(0.6);
		margin: 5px 5px;
	}
/*header*/
	header > h1{
		font-size: 1em;
	}
	header img{
		transform: scale(0.5);
	}
/*slider*/
	#slider{
		height: 350px;
	}
	.slide{
		height: 150px;
	}
	.infos{
		margin: 150px auto 0px auto;
		width: 85%;
		height: 100%;
	}
	.infos h2{
		font-size: 0.8em;
	}
	.infos li{
		font-size: 0.6em;
	}
	ul{
		padding-inline-start: 5px;
	}
/*sous titre section map*/
	#blocInfoStation > h2{
		font-size: 1.5em;
	}
	#blocInfoStation > p{
		font-size: 0.8em;
	}
/*bloc map*/
	#blocMap{
		flex-direction: column;
	}
	#map{
	width: 100%;
	height: 250px;
}
/*zone info station*/
	#infoMap{
		width: 100%;
		height: 420px;
	}
	#infoMap > h3{
		font-size: 1.6em;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#infoMap > p{
		font-size: 0.9em;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	#infoMap > p:first-of-type{/*adresse*/
		font-size: 1em;
	}
	#infoMap > p:nth-of-type(2){ /*open or closed*/
		font-size: 1em;
	}
	#infoMap > form{ /*nom prenom*/
		max-width: 90%;
	}
	#infoMap > form label{ /*nom prenom*/
		font-size: 0.85em;
	}
	#infoMap > button{ /*bouton reservation*/
		font-size: 0.8em;
	}

/*zone signature*/
	#blocSignature{
		width: 300px;
		height: 250px;
	}
	#blocSignature > div > div{
		width: 20%;
		height: 100%;

		font-size: 0.7em;
	}
	#blocSignature i{
		transform: scale(1);
	}
	#blocSignature > div:last-child{
		display: flex;
	}
	.boutonSignature{
		font-size: 0.7em;
		width: 20%;
	}
	footer{
		width: 80%;
		font-size: 1em;
	}
}